login/src/main/resources/wsdl/com.btpn.emoney.ws wowAccountServices.xml

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="wowAccountServices" targetNamespace="http://APPMDWDEV02.dev.corp.btpn.co.id/com.btpn.emoney.ws:wowAccountServices" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapjms="http://www.w3.org/2010/soapjms/" xmlns:tns="http://APPMDWDEV02.dev.corp.btpn.co.id/com.btpn.emoney.ws:wowAccountServices" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://APPMDWDEV02.dev.corp.btpn.co.id/com.btpn.emoney.ws:wowAccountServices" xmlns:tns="http://APPMDWDEV02.dev.corp.btpn.co.id/com.btpn.emoney.ws:wowAccountServices" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
          <xsd:element name="getAccount" type="tns:getAccount"/>
          <xsd:element name="getAccountResponse" type="tns:getAccountResponse"/>
          <xsd:element name="getTransactionHistory" type="tns:getTransactionHistory"/>
          <xsd:element name="getTransactionHistoryResponse" type="tns:getTransactionHistoryResponse"/>
          <xsd:complexType name="getAccount">
            <xsd:sequence>
              <xsd:element name="commonParam" nillable="true" type="tns:CommonParam2"/>
              <xsd:element name="account" nillable="true" type="tns:account"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="CommonParam2">
            <xsd:sequence>
              <xsd:element minOccurs="0" name="pan" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="processingCode" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="channelId" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="channelType" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="node" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="currencyAmount" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="amount" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="currencyfee" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="fee" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="transmissionDateTime" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="requestId" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="acqId" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="referenceNo" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="terminalId" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="terminalName" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="original" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="userId" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="orgUnitId" nillable="true" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType mixed="true" name="account">
            <xsd:attribute name="type" type="xsd:string" use="required"/>
            <xsd:attribute name="flags" type="xsd:string" use="required"/>
            <xsd:attribute name="orgUnitId" type="xsd:string" use="required"/>
          </xsd:complexType>
          <xsd:complexType name="getAccountResponse">
            <xsd:sequence>
              <xsd:element name="responseCode" nillable="true" type="xsd:string"/>
              <xsd:element name="balance" nillable="true" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="getTransactionHistory">
            <xsd:sequence>
              <xsd:element name="getTransactionHistoryInput" nillable="true" type="tns:getTransactionHistoryInput"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="getTransactionHistoryInput">
            <xsd:sequence>
              <xsd:element name="account" nillable="true" type="tns:account2"/>
              <xsd:element name="dateBegin" type="xsd:dateTime"/>
              <xsd:element name="dateEnd" type="xsd:dateTime"/>
              <xsd:element name="start" type="xsd:int"/>
              <xsd:element name="length" type="xsd:int"/>
              <xsd:element name="oldestToNewest" type="xsd:boolean"/>
              <xsd:element name="transactionDateTime" type="xsd:dateTime"/>
              <xsd:element name="commonParam" nillable="true" type="tns:CommonParam2"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType mixed="true" name="account2">
            <xsd:attribute name="type" type="xsd:string" use="required"/>
            <xsd:attribute name="flags" type="xsd:string" use="required"/>
          </xsd:complexType>
          <xsd:complexType name="getTransactionHistoryResponse">
            <xsd:sequence>
              <xsd:element name="getTransactionHistoryOutput" nillable="true" type="tns:getTransactionHistoryOutput"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="getTransactionHistoryOutput">
            <xsd:sequence>
              <xsd:element name="Status" type="tns:Status"/>
              <xsd:element maxOccurs="unbounded" name="transaction" nillable="true" type="tns:transaction"/>
              <xsd:element name="start" type="xsd:int"/>
              <xsd:element name="total" type="xsd:int"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="Status">
            <xsd:simpleContent>
              <xsd:extension base="xsd:string">
                <xsd:attribute name="code" type="xsd:string" use="required"/>
              </xsd:extension>
            </xsd:simpleContent>
          </xsd:complexType>
          <xsd:complexType name="transaction">
            <xsd:sequence>
              <xsd:element name="id" type="xsd:long"/>
              <xsd:element name="transactionDateTime" type="xsd:dateTime"/>
              <xsd:element minOccurs="0" name="account" nillable="true" type="tns:account3"/>
              <xsd:element name="counterpart" nillable="true" type="tns:counterpart"/>
              <xsd:element name="useCaseId" type="xsd:int"/>
              <xsd:element minOccurs="0" name="description" type="xsd:string"/>
              <xsd:element minOccurs="0" name="reserved1" type="xsd:string"/>
              <xsd:element minOccurs="0" name="reserved2" type="xsd:string"/>
              <xsd:element name="debitFlags" type="xsd:boolean"/>
              <xsd:element name="amount" type="xsd:long"/>
              <xsd:element name="fee" type="xsd:long"/>
              <xsd:element minOccurs="0" name="balance" type="xsd:long"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType mixed="true" name="account3">
            <xsd:sequence>
              <xsd:element minOccurs="0" name="orgUnitId" nillable="true" type="xsd:string"/>
            </xsd:sequence>
            <xsd:attribute name="type" type="xsd:string" use="required"/>
            <xsd:attribute name="flags" type="xsd:int" use="required"/>
          </xsd:complexType>
          <xsd:complexType mixed="true" name="counterpart">
            <xsd:attribute name="type" type="xsd:string" use="required"/>
            <xsd:attribute name="flags" type="xsd:int" use="required"/>
          </xsd:complexType>
        	</xsd:schema>
  </wsdl:types>
  <wsdl:message name="wowAccountServices_PortType_getAccountResponse">
    <wsdl:part name="parameters" element="tns:getAccountResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="wowAccountServices_PortType_getTransactionHistoryResponse">
    <wsdl:part name="parameters" element="tns:getTransactionHistoryResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="wowAccountServices_PortType_getTransactionHistory">
    <wsdl:part name="parameters" element="tns:getTransactionHistory">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="wowAccountServices_PortType_getAccount">
    <wsdl:part name="parameters" element="tns:getAccount">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="wowAccountServices_PortType">
    <wsdl:operation name="getAccount">
      <wsdl:input message="tns:wowAccountServices_PortType_getAccount">
    </wsdl:input>
      <wsdl:output message="tns:wowAccountServices_PortType_getAccountResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTransactionHistory">
      <wsdl:input message="tns:wowAccountServices_PortType_getTransactionHistory">
    </wsdl:input>
      <wsdl:output message="tns:wowAccountServices_PortType_getTransactionHistoryResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="com_btpn_emoney_ws_wowAccountServices_Binder" type="tns:wowAccountServices_PortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getAccount">
      <soap:operation soapAction="com_btpn_emoney_ws_wowAccountServices_Binder_getAccount" style="document"/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTransactionHistory">
      <soap:operation soapAction="com_btpn_emoney_ws_wowAccountServices_Binder_getTransactionHistory" style="document"/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="com.btpn.emoney.ws.wowAccountServices">
    <wsdl:port name="com_btpn_emoney_ws_wowAccountServices_Port" binding="tns:com_btpn_emoney_ws_wowAccountServices_Binder">
      <soap:address location="http://APPMDWDEV04.dev.corp.btpn.co.id:5888/ws/com.btpn.emoney.ws.wowAccountServices/com_btpn_emoney_ws_wowAccountServices_Port"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>